html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: calc(10px + 0.6vw);
  scroll-behavior: smooth;
}

:root {
  color-scheme: light dark;
}

body {
  --s-c10: hsl(109, 38%, 11%);
  --s-c30: hsl(110, 38%, 18%);
  --s-c40: hsl(109, 37%, 26%);
  --s-c50: hsl(110, 37%, 34%);
  --s-c60: hsl(110, 37%, 42%);
  --s-c80: hsl(110, 38%, 50%);
  --s-c100: hsl(110, 50%, 57%);

  --w-c10: hsl(16, 48%, 14%);
  --w-c30: hsl(17, 49%, 21%);
  --w-c40: hsl(17, 48%, 31%);
  --w-c50: hsl(16, 48%, 40%);
  --w-c60: hsl(17, 48%, 50%);
  --w-c80: hsl(18, 86%, 64%);
  --w-c100: hsl(17, 100%, 68%);

  --e-c10: hsl(0, 50%, 13%);
  --e-c30: hsl(359, 51%, 20%);
  --e-c40: hsl(358, 51%, 29%);
  --e-c50: hsl(359, 51%, 37%);
  --e-c60: hsl(359, 51%, 46%);
  --e-c80: hsl(359, 62%, 55%);
  --e-c100: hsl(359, 84%, 63%);

  font-family: monospace;
  width: 100vw;
  height: 100vh;

  background-color: var(--p-c80);
  overflow-x: hidden;
  overflow-y: visible;
  -webkit-tap-highlight-color: transparent;
  cursor: url("/cursor.png"), auto;

  --track-color: rgba(0, 0, 0, 0);
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

body.loading {
  --p-c80: black;
  opacity: 0;
}

body.dark {
  --p-c10: hsl(120, 10%, 50%);
  --p-c20: hsl(120, 20%, 50%);
  --p-c30: hsl(120, 30%, 50%);
  --p-c40: hsl(120, 40%, 50%);
  --p-c50: hsl(120, 50%, 50%);
  --p-c60: hsl(120, 60%, 50%);
  --p-c70: hsl(120, 70%, 50%);
  --p-c80: hsl(120, 80%, 50%);
  --p-c90: hsl(120, 90%, 50%);
  --p-c100: hsl(120, 100%, 50%);

  --a-c10: hsl(251, 100%, 99%);
  --a-c20: hsl(251, 100%, 97%);
  --a-c30: hsl(249, 100%, 95%);
  --a-c40: hsl(250, 100%, 91%);
  --a-c50: hsl(249, 100%, 88%);
  --a-c60: hsl(248, 100%, 85%);
  --a-c70: hsl(248, 76%, 79%);
  --a-c80: hsl(247, 56%, 68%);
  --a-c90: hsl(247, 40%, 53%);
  --a-c100: hsl(247, 46%, 42%);

  --n-c00: hsl(0, 0%, 0%);
  --n-c20: hsl(0, 0%, 10%);
  --n-c30: hsl(0, 0%, 15%);
  --n-c40: hsl(0, 1%, 23%);
  --n-c50: hsl(0, 0%, 34%);
  --n-c60: hsl(0, 0%, 44%);
  --n-c70: hsl(0, 0%, 58%);
  --n-c80: hsl(0, 0%, 76%);
  --n-c90: hsl(0, 0%, 88%);
  --n-c100: hsl(0, 0%, 100%);
  --n-c100a07: hsl(0, 0%, 100%, 0.7);

  --t-contrast: hsl(0, 0%, 0%);

  --main: hsla(0, 0%, 0%, 1);
  --sptfy-filter: none;
  --filter-noise: url(/images/bg-noise-dark.png);
}

body.light {
  --p-c10: hsl(251, 100%, 99%);
  --p-c20: hsl(251, 100%, 97%);
  --p-c30: hsl(249, 100%, 95%);
  --p-c40: hsl(250, 100%, 91%);
  --p-c50: hsl(249, 100%, 88%);
  --p-c60: hsl(248, 100%, 85%);
  --p-c70: hsl(248, 76%, 79%);
  --p-c80: hsl(247, 56%, 68%);
  --p-c90: hsl(247, 40%, 53%);
  --p-c100: hsl(247, 46%, 42%);

  --a-c10: hsl(120, 10%, 50%);
  --a-c20: hsl(120, 20%, 50%);
  --a-c30: hsl(120, 30%, 50%);
  --a-c40: hsl(120, 40%, 50%);
  --a-c50: hsl(120, 50%, 50%);
  --a-c60: hsl(120, 60%, 50%);
  --a-c70: hsl(120, 70%, 50%);
  --a-c80: hsl(120, 80%, 50%);
  --a-c90: hsl(120, 90%, 50%);
  --a-c100: hsl(120, 100%, 50%);

  --t-contrast: hsl(0, 0%, 0%);

  --n-c00: hsl(0, 0%, 100%);
  --n-c20: hsl(0, 0%, 98%);
  --n-c30: hsl(0, 0%, 96%);
  --n-c40: hsl(0, 0%, 91%);
  --n-c50: hsl(0, 0%, 84%);
  --n-c60: hsl(0, 0%, 76%);
  --n-c70: hsl(0, 0%, 58%);
  --n-c80: hsl(0, 0%, 42%);
  --n-c90: hsl(0, 0%, 30%);
  --n-c100: hsl(0, 0%, 0%);
  --n-c100a07: hsla(0, 0%, 0%, 0.7);

  --main: hsla(0, 0%, 100%, 1);

  --sptfy-filter: invert(1);
  --filter-noise: url(/images/bg-noise-light.png);
}

.shift-title {
  text-shadow: 0.3rem 0px var(--p-c80), 0.35rem 0px var(--p-c80);
}

[data-reactroot] {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  background-color: var(--main);
}

::spelling-error {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--p-c80);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--p-c100);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--main) inset !important;
  -webkit-text-fill-color: var(--p-c100) !important;
}

@font-face {
  font-family: "Tinier";
  src: url("/fonts/tinier.regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Tiny";
  src: url("/fonts/tiny.regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/FuturaLT-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Dots";
  src: url("/fonts/5by7.regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Dots-Bold";
  src: url("/fonts/5by7.bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  user-select: inherit;
  outline: none;
}

::selection {
  background: var(--p-c80);
  color: var(--n-c100);
}
